<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="CString"
         connectionString="Data Source=(local);Initial Catalog=ATMSoftware;Integrated Security=False; User Id=quanlykhachsan; Password='a1900@@'"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>